In [2]:
# import the needed libraries and datasets
import numpy as np
import pandas as pd

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**13. Change the age in row 'f' to 1.5.**

In [6]:
# First locate the row "f" at the column "age" and change the parameter
df.loc["f", "age"] = 1.5
# Now, visualize the change
df.loc["f"]

animal      cat
age         1.5
visits        3
priority     no
Name: f, dtype: object

**18. Sort df first by the values in the 'age' in decending order, then by the value in the 'visit' column in ascending order.**

In [7]:
df_dec = df.sort_values(by = ["age"], ascending = False)
print("Age sorted in decending order:\n\n", df_dec)

print("\n")

df_asc = df.sort_values(by = ["visits"], ascending = True)
print("Visits sorted in ascending order:\n\n", df_asc)

Age sorted in decending order:

   animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
b    cat  3.0       3      yes
j    dog  3.0       1       no
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes


Visits sorted in ascending order:

   animal  age  visits priority
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  1.5       3       no